.loading {
  z-index: 9999;
  font-family: "CircularStd";
  position: fixed;
  top: 0;
  background-color: #0b1d1c;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.loading .loading_first-line,
.loading .loading_second-line,
.loading .loading_first-line_studio,
.loading .loading_first-line_viridiana,
.loading .loading_second-line_interiors,
.loading .loading_second-line_e,
.loading .loading_second-line_design {
  display: flex;
}
.loading .loading_first-line .letter,
.loading .loading_second-line .letter,
.loading .loading_first-line_studio .letter,
.loading .loading_first-line_viridiana .letter,
.loading .loading_second-line_interiors .letter,
.loading .loading_second-line_e .letter,
.loading .loading_second-line_design .letter {
  margin-right: 1px;
  margin-left: 1px;
}
.loading .loading_first-line {
  letter-spacing: 4px;
}
.loading .loading_first-line .loading_first-line_studio,
.loading .loading_first-line .loading_first-line_viridiana {
  font-size: 58px;
}
.loading .loading_first-line .loading_first-line_studio {
  margin-right: 15px;
}
.loading .loading_second-line .loading_second-line_interiors,
.loading .loading_second-line .loading_second-line_e,
.loading .loading_second-line .loading_second-line_design {
  font-size: 35px;
}
.loading .loading_second-line .loading_second-line_interiors,
.loading .loading_second-line .loading_second-line_e {
  margin-right: 15px;
}
.loading .loading_viridiana_v {
  animation: animation1 0.5s linear;
}
@keyframes animation1 {
  0% {
    color: #a25ace;
  }
  100% {
    color: #a25ace;
  }
}
.loading .loading_viridiana_a2,
.loading .loading_studio_s,
.loading .loading_interiors_i,
.loading .loading_design_n {
  animation: animation2 1s linear;
}
@keyframes animation2 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  50% {
    color: transparent;
    transition: color 0s;
  }
  51% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_studio_d,
.loading .loading_interiors_i2 {
  animation: animation3 1.5s linear;
}
@keyframes animation3 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  70% {
    color: transparent;
    transition: color 0s;
  }
  71% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_viridiana_r,
.loading .loading_interiors_o {
  animation: animation4 2s linear;
}
@keyframes animation4 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  75% {
    color: transparent;
    transition: color 0s;
  }
  76% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_interiors_r,
.loading .loading_design_d,
.loading .loading_studio_t {
  animation: animation5 2.5s linear;
}
@keyframes animation5 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_viridiana_i,
.loading .loading_interiors_n,
.loading .loading_design_s,
.loading .loading_interiors_t {
  animation: animation6 3s linear;
}
@keyframes animation6 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_studio_i,
.loading .loading_design_g,
.loading .loading_interiors_n,
.loading .loading_viridiana_i3 {
  animation: animation7 3.5s linear;
}
@keyframes animation7 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_viridiana_d,
.loading .loading_interiors_r2,
.loading .loading_viridiana_a,
.loading .loading_design_i {
  animation: animation8 4s linear;
}
@keyframes animation8 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  88% {
    color: transparent;
    transition: color 0s;
  }
  89% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_viridiana_i2,
.loading .loading_interiors_s,
.loading .loading_interiors_n {
  animation: animation8 4.5s linear;
}
@keyframes animation8 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  95% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_viridiana_n,
.loading .loading_interiors_i2,
.loading .loading_interiors_e,
.loading .loading_studio_o {
  animation: animation9 5s linear;
}
@keyframes animation9 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_studio_u,
.loading .loading_design_e {
  animation: animation10 5.5s linear;
}
@keyframes animation10 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.loading .loading_e {
  animation: animation8 6.2s linear;
}
@keyframes animation8 {
  0% {
    color: transparent;
    transition: color 0s;
  }
  86% {
    color: transparent;
    transition: color 0s;
  }
  87% {
    color: #a25ace;
    transition: color 0s;
  }
  100% {
    color: #a25ace;
    transition: color 0s;
  }
}
.home-template {
  background-color: #0b1d1c;
  height: 100vh;
  width: 100%;
}
#project-list {
  min-height: 100vh;
}
#project-list .project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#project-list .project-list .project-list__item {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
#project-list .project-list .project-list__item img {
  width: 450px;
  border: 1px solid black;
}
#project-list .project-list .project-list__item .project-list__item__title {
  text-transform: uppercase;
  position: absolute;
  top: 50px;
  font-size: 18px;
  color: transparent;
  font-family: 'CircularStd';
  font-weight: 400;
}
#project-list .project-list .project-list__item:hover:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
}
#project-list .project-list .project-list__item:hover .project-list__item__title {
  color: white;
}
#project-single .project-single__header .project-single__header__btn {
  display: flex;
  flex-direction: column;
  position: absolute;
}
#project-single .project-single__header .project-single__header__btn .button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}
#project-single .project-single__header .project-single__header__btn span {
  background-color: #615e5e;
  width: 1px;
  height: 30px;
  margin-left: 20px;
}
#project-single .project-single__header .project-single__header__btn .arrow-1 {
  transform: rotate(45deg);
}
#project-single .project-single__header .project-single__header__btn .arrow-2 {
  margin-top: -9px;
  transform: rotate(-45deg);
}
#project-single .project-single__header .project-single__header__btn:hover span {
  background-color: #a25ace;
  width: 2px;
}
#project-single .project-single__header .project-single__header__img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#project-single .project-single__header .project-single__header__img img {
  width: 450px;
  border: 1px solid black;
}
#project-single .post-password-form {
  width: 450px;
  margin: 20px auto;
}
#project-single .post-password-form input[type="submit"] {
  border: 1px solid black;
  border-radius: 0;
  background-color: #fffef7;
  padding: 10px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}
#project-single .post-password-form p:nth-of-type(2n) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#project-single .post-password-form p:nth-of-type(2n) label {
  color: transparent !important;
}
#project-single .post-password-form p:nth-of-type(2n) input[type="password"] {
  width: 95.3%;
  background-color: #fffef7;
  padding: 10px;
  border: black 1px solid;
  border-bottom: none;
}
.rich-text {
  font-family: 'CirculaStd', sans-serif;
  margin-right: 10px;
}
.rich-text h2 {
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.rich-text h3 {
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.rich-text > span,
.rich-text p {
  line-height: 17px;
  font-size: 16px;
  margin-bottom: 10px;
}
.rich-text b,
.rich-text strong {
  font-weight: 600;
}
.rich-text a {
  color: black;
  text-decoration: underline;
}
.rich-text ul li {
  margin-bottom: 7px;
}
.rich-text br {
  margin-bottom: 10px;
}
.rich-text img {
  width: 100%;
  height: auto;
}
.rich-text .captcha_img {
  width: auto;
}
.image-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.image-columns > .image-columns__item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.image-columns > .image-columns__item > .image-columns__item__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 450px;
  height: 524px;
  border: 1px solid black;
  cursor: pointer;
}
.image-columns > .image-columns__item > .image-columns__item__description {
  margin-top: 30px;
  width: 450px;
}
.image-columns--special-item > .image-columns__item > .image-columns__item__img {
  cursor: default;
}
.one-image {
  display: flex;
  justify-content: center;
}
.one-image .one-image__item {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.one-image .one-image__item div {
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 910px;
  height: 700px;
  border: 1px solid black;
}
.text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
}
.text-box > .text-box__item {
  position: relative;
  width: 450px;
  box-sizing: border-box;
  border-color: #615e5e;
  border-width: 1px;
  border-style: solid;
  font-family: 'CircularStd';
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-color: transparent;
}
.text-box > .text-box__item > h3 {
  padding-left: 10px;
  text-transform: uppercase;
  font-family: 'CircularStd';
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button {
  position: absolute;
  box-sizing: border-box;
  border-left-width: 1px;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #615e5e;
  top: 0;
  right: 0;
  height: 28px;
  width: 30px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div span {
  background-color: #615e5e;
  width: 16px;
  height: 1px;
}
.text-box > .text-box__item .text-box__item__more > .text-box__item__more-button > div span:nth-of-type(2n) {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.text-box > .text-box__item .text-box__item__more-text {
  display: none;
  margin-top: 15px;
  padding-left: 10px;
}
.text-box > .text-box__item .active.text-box__item__more ~ .text-box__item__more-text {
  display: block;
}
.text-box > .text-box__item .active.text-box__item__more {
  width: 100%;
  height: 4px;
  display: block;
  border-bottom: 1px #615e5e solid;
}
.text-box > .text-box__item .active.text-box__item__more .text-box__item__more-button {
  border-bottom-width: 1px;
}
.text-box > .text-box__item .active.text-box__item__more .text-box__item__more-button div span:nth-of-type(2n) {
  transform: rotate(0deg);
  transition: transform 0.3s;
}
.text-box .text-box__item:last-of-type {
  border-bottom-color: #615e5e;
}
.image-columns .text-box {
  margin-top: 30px;
}
#about {
  position: relative;
  min-height: 100vh;
  font-family: "CircularStd";
}
#about .about__content .about__content__fixed .about__content__fixed-right {
  background-color: #fffef7;
  width: 450px;
  position: fixed;
  right: calc((100vw - 1445px + 2 * 15px) / 2);
  top: 100px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-title h3 {
  font-size: 18px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box {
  border: 1px solid #615e5e;
  margin-bottom: 20px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box .about__content__fixed-right-box__subtitle {
  border-bottom: 1px solid #615e5e;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box .about__content__fixed-right-box__description {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box:first-of-type:hover {
  color: #2D0A14;
  background-color: #c9bfbc;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box:nth-of-type(2n):hover {
  color: #a25ace;
  background-color: #0b1d1c;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
#about .about__content .about__content__fixed .about__content__fixed-right .about__content__fixed-right-box:nth-of-type(3n):hover {
  color: #6673FF;
  background-color: #003049;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
#about .about__content .about__content__fixed .about__content__fixed-footer {
  width: 100%;
  background-color: #fffef7;
  position: fixed;
  bottom: 33px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  right: calc((100vw - 1460px + 2 * 15px) / 2);
  left: calc((100vw - 1460px + 2 * 15px) / 2);
  max-width: 1390px;
  padding: 10px 15px 8px 15px;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .about__content__fixed-footer__link {
  text-decoration: none;
  font-size: 11px;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .about__content__fixed-footer__link p {
  font-size: 11px;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .about__content__fixed-footer__link h4 {
  font-size: 14px;
  text-decoration: underline;
  text-transform: uppercase;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .arrow {
  position: fixed;
  left: 50%;
  margin-left: -5px;
  transform: translate(-50%, 0%);
  display: flex;
  cursor: pointer;
  width: 52px;
  height: 50px;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .arrow span {
  background-color: black;
  width: 1px;
  height: 30px;
  margin-left: 20px;
}
#about .about__content .about__content__fixed .about__content__fixed-footer .arrow .arrow-1 {
  transform: rotate(-45deg);
}
#about .about__content .about__content__fixed .about__content__fixed-footer .arrow .arrow-2 {
  transform: rotate(45deg);
}
#about .about__content .about__content__scroll .about__content__scroll-image {
  width: 450px;
  height: 524px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}
#about .about__content .about__content__scroll .about__content__scroll-flex {
  width: 942px;
  display: flex;
}
#about .about__content .about__content__scroll .about__content__scroll-flex > div:first-of-type {
  margin-right: 25px;
}
#about .about__content .about__content__scroll .about__content__scroll-flex > div {
  width: 450px;
}
#about .about__content .about__content__scroll .about__content__scroll-photo-list div {
  width: 450px;
  height: 216px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  margin-bottom: 20px;
}
#about .about__content .about__content__scroll .about__content__scroll__description {
  font-family: "CircularStd";
  margin-bottom: 30px;
}
#about .about__content .about__content__scroll .about__content__scroll-box {
  border: 1px solid #615e5e;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
#about .about__content .about__content__scroll .about__content__scroll-box h4 {
  border-bottom: 1px solid #615e5e;
  text-transform: uppercase;
  padding-bottom: 5px;
}
#about .about__content .about__content__scroll .about__content__scroll-box > * {
  padding-top: 5px;
  padding-left: 10px;
}
#about .about__content .about__content__scroll .about__content__scroll-box:hover {
  background-color: #e3b697;
  color: #7c4835;
}
#part-1 {
  height: 650px;
}
#part-1 .about__content__scroll-image {
  margin-left: 246px;
  margin-top: 16px;
}
#part-2 {
  height: 650px;
}
#part-3 {
  padding-bottom: 40px;
}
#part-3 h3:first-of-type {
  margin-bottom: 0px;
}
.social-media {
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social-media .social-media__description {
  font-size: 14px;
  font-family: "CircularStd";
  width: 40%;
  line-height: 15px;
}
.social-media .social-media__social {
  width: 51%;
  display: flex;
  flex-direction: column;
}
.social-media .social-media__social a {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 5px;
}
.social-media .social-media__social a span {
  text-decoration: underline;
}
.months_num_in_row_2 .datepick-one-month {
  background-color: #fffef7;
  border: 1px solid black;
}
.datepick-inline .calendar-links {
  background-color: #fffef7;
  border-bottom: none;
  width: 95% !important;
}
.control-label {
  display: none;
}
.wpbc_structure_calendar > div:nth-of-type(2n) {
  display: none;
}
.wpbc_structure_form .btn {
  margin: 30px 0;
}
.wpbc_structure_form .form-group {
  margin: 35px 0px !important;
}
.wpbc_structure_form .form-group:not(:first-of-type) {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.wpbc_structure_form .form-group:last-of-type {
  display: flex;
  justify-content: space-around;
}
.wpbc_structure_form .form-group:last-of-type .btn {
  margin-bottom: 20px;
  border-radius: 0px;
  background-color: #fffef7;
  border: 1px solid black;
  color: black;
  font-family: "CircularStd";
}
.wpbc_structure_form .form-group:nth-of-type(4n) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wpbc_structure_form .control-label {
  display: none;
}
.wpbc_structure_form .wpbc_times_selector > div {
  flex: 0 0 97px !important;
  margin: 7px 12px 0 0 !important;
  background-color: #fffef7;
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-family: "CircularStd";
  border: solid 1px black;
}
.wpbc_structure_form .wpbc_times_selector > div.wpbc_time_selected {
  background-color: #c9bfbc;
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-family: "CircularStd";
}
.booking_form #name1 {
  border-top: 1px solid black !important;
}
.booking_form input[type="text"] {
  width: 94% !important;
  border: 1px solid black !important;
  border-radius: 0px !important;
  background-color: #fffef7 !important;
  color: black !important;
  font-family: "CircularStd";
  border-top: none !important;
}
input::placeholder {
  color: black;
  font-size: 14px;
}
.datepick-inline {
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
}
.datepick-inline .calendar-links .datepick-next a,
.datepick-inline .calendar-links .datepick-prev a {
  color: black !important;
}
.datepick-title-row {
  display: none;
}
.months_num_in_row_2 .datepick-one-month {
  width: 48% !important;
  margin-right: 8px !important;
  margin-bottom: 8px !important;
}
.datepick-inline .calendar-links {
  background: none !important;
  background-color: transparent !important;
  border-bottom: none !important;
}
div.datepick-inline .datepick-title-row th {
  color: black !important;
}
.datepick-inline .datepick-multi {
  border: none;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
}
.datepick-inline .datepick-header {
  color: black !important;
  text-shadow: none !important;
}
.wpbc_timeslot_day_bg_as_available .datepick-inline .date_available {
  color: black !important;
  text-shadow: none !important;
}
.block_hints .block_free,
.block_hints .block_time,
.block_hints .block_check_in_out div.check-in-div,
.block_hints .block_check_in_out div.check-out-div,
.datepick-inline .date_available,
.datepick-inline .timespartly.check_in_time div.check-in-div,
.datepick-inline .timespartly.check_out_time div.check-out-div {
  background: none !important;
  color: black !important;
}
.block_hints .block_free,
.block_hints .block_time,
.block_hints .block_booked,
.block_hints .block_pending,
.block_hints .block_check_in_out,
.datepick-inline .datepick-days-cell {
  border: none !important;
}
div.datepick-inline .datepick-title-row th {
  border: none !important;
}
.block_hints .block_free,
.block_hints .block_time,
.block_hints .block_booked,
.block_hints .block_pending,
.block_hints .block_check_in_out,
.datepick-inline .datepick-days-cell {
  font-family: "CircularStd";
}
.block_hints .block_free a,
.block_hints .block_time,
.datepick-inline .date_available a {
  text-shadow: none !important;
  color: black !important;
}
.block_hints .date2approve.block_check_in_out,
.block_hints .block_pending,
.datepick-inline .date2approve,
.block_hints .block_pending a,
.datepick-inline .date2approve a {
  text-shadow: none !important;
}
.block_hints .date2approve.block_check_in_out,
.block_hints .block_pending,
.datepick-inline .date2approve,
.block_hints .block_pending a,
.datepick-inline .date2approve a {
  background-color: #c9bfbc !important;
}
.datepick-inline .date2approve {
  color: black !important;
}
.datepick-inline .datepick-one-month .datepick .datepick-current-day {
  background-color: #c9bfbc !important;
}
.submiting_content.wpdev-help-message.alert.alert-warning.alert-success {
  margin: 0 auto !important;
}
.datepick-inline .calendar-links .datepick-prev {
  left: 2% !important;
}
.featherlight .featherlight-content {
  background-color: #fffef7 !important;
}
.featherlight .featherlight-image {
  border: 1px solid black;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul#main-menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  font-style: normal;
}
ul#main-menu > li {
  display: flex;
  padding: 10px 0px 10px 30px;
}
ul#main-menu > li a {
  position: relative;
  text-decoration: none;
  font-family: 'CircularStd', sans-serif;
  text-transform: uppercase;
}
ul#main-menu > li:hover a:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 25px;
  background-color: #615e5e;
}
ul#main-menu > li:first-of-type {
  padding-left: 0px;
}
ul#main-menu > li:last-of-type {
  padding-right: 0px;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 580px) {
  ul#main-menu {
    background-color: white;
    display: none;
    margin-top: 65px;
    flex-direction: column;
    min-height: 100vh;
  }
  ul#main-menu li a {
    font-size: 18px;
  }
  ul#main-menu > li {
    position: relative;
  }
  ul#main-menu > li > ul.sub-menu {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: -40px;
  }
  ul#main-menu > li > ul.sub-menu > li {
    padding: 10px 10px 20px 20px;
  }
  ul#main-menu > li:after {
    position: absolute;
    left: 0;
    top: 25px;
  }
  #mobile-menu-trigger {
    display: flex;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 100;
    top: 13px;
    right: 42.7%;
    transition: right 0.6s;
    height: 36px;
    cursor: pointer;
  }
  #mobile-menu-trigger span {
    display: block;
    margin-bottom: 3px;
    height: 3px;
    width: 20px;
    background-color: currentColor;
    opacity: 1;
    transform: rotate(0deg);
  }
  #mobile-menu-trigger > div {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger > div:nth-child(1) {
    transition: margin-right 0.6s;
    margin-right: 0px;
  }
  #mobile-menu-trigger > div:nth-child(2) {
    transition: margin-left 0.6s;
    margin-left: 0px;
  }
  .menu-open #mobile-menu-trigger {
    right: 41.5%;
    transition: right 0.6s;
  }
  .menu-open #mobile-menu-trigger div:nth-child(1) {
    margin-right: 4px;
    transition: margin-right 0.6s;
  }
  .menu-open #mobile-menu-trigger div:nth-child(2) {
    margin-left: 4px;
    transition: margin-left 0.6s;
  }
  .menu-open ul#main-menu {
    display: block;
  }
}
.wp-block-embed iframe {
  width: 100%;
  height: 310px;
}
@media screen and (max-width: 580px) {
  .wp-block-embed iframe {
    width: 100%;
    height: 220px;
  }
}
figure,
.wp-block-image {
  margin-bottom: 25px;
}
figure figcaption,
.wp-block-image figcaption {
  width: 100%;
  font-size: 16px;
  text-align: right;
}
figure figcaption a,
.wp-block-image figcaption a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}
.template-tc {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 150px;
  min-height: 60vh;
}
.template-tc .template-tc__header {
  position: relative;
  min-height: 150px;
  margin-bottom: 75px;
}
.template-tc .template-tc__header img {
  position: absolute;
  height: 150px;
  width: auto;
  margin-left: -10.5%;
}
.template-tc .template-tc__header .template-tc__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  text-align: center;
}
.template-tc h1:nth-child(2) {
  margin-top: -203px;
  margin-bottom: 75px;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .template-tc {
    padding-top: 70px;
  }
  .template-tc .template-tc__header {
    min-height: 80px;
    margin-bottom: 30px;
  }
  .template-tc .template-tc__header img {
    height: 50px;
    margin-left: -12%;
  }
  .template-tc .template-tc__header .template-tc__title {
    min-height: 50px;
  }
  .template-tc h1:nth-child(2) {
    margin-top: -100px;
  }
}
h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  font-family: 'CircularStd', sans-serif;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
}
a {
  color: black;
}
strong {
  font-weight: bold;
}
blockquote,
q {
  margin: 0px 8% 30px 8%;
  font-style: italic;
}
blockquote p:last-of-type,
q p:last-of-type {
  margin-bottom: 15px;
}
@media screen and (max-width: 580px) {
  h1 {
    font-size: 30px;
    line-height: 25px;
    min-height: auto;
  }
  h2 {
    font-size: 20px;
    line-height: 21px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 19px;
  }
  p {
    font-size: 14px;
    line-height: 16px;
  }
  strong {
    font-size: 20px;
    line-height: 21px;
  }
  figure,
  .wp-block-image {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  figure figcaption,
  .wp-block-image figcaption {
    font-size: 12px;
  }
  figure figcaption a,
  .wp-block-image figcaption a {
    font-size: 12px;
  }
}
.structure-container {
  width: 100%;
  min-height: 100vh;
}
.structure-container .structure-container__content {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1418px;
  margin: 0 auto;
}
.structure-color-light-pink {
  background-color: #fffef7;
  color: black;
  border-color: #615e5e;
}
.structure-color-green {
  background-color: #0b1d1c;
  color: white;
  border-color: #615e5e;
}
.structure-block {
  display: flex;
  justify-content: center;
}
.structure-block .structure-block__center {
  width: 450px;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Bold.otf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Book.otf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-Medium.otf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: CircularStd;
  src: url('../resources/font/CircularStd-BlackItalic.otf') format('opentype');
  font-style: italic;
}
.structure-justify-start {
  justify-content: flex-start !important;
}
.structure-text-left {
  text-align: left !important;
}
.block-title {
  margin-top: -200px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}
.block-title h2 {
  margin-bottom: 0px;
}
.block-title h1 {
  margin-bottom: 0px !important;
  line-height: 85px;
  min-height: auto;
  text-transform: none;
}
.block-title h4 {
  line-height: 65px;
  margin-bottom: 0px !important;
  min-height: auto;
  text-transform: none;
}
.block-title .block-title__left {
  justify-content: flex-start;
}
.block-title .block-title__left h1 {
  text-align: left;
}
.block-title .block-title__center {
  justify-content: center;
}
.block-title .block-title__center div {
  text-align: center;
}
.block-title .block-title__center div * {
  color: inherit;
  word-wrap: break-word;
}
.block-title .block-title__right {
  justify-content: right;
}
.block-title .block-title__right h1 {
  text-align: right;
}
.block-title .block-title__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.block-title .block-title__description p {
  max-width: 680px;
  text-align: right;
}
.block-title .block-title__description p:last-of-type {
  margin-bottom: 0px;
  max-width: 680px;
  text-align: right;
}
@media screen and (max-width: 580px) {
  .block-title {
    margin-top: -100px;
  }
  .block-title h1 {
    margin-top: -10px;
    line-height: 40px;
  }
}
.link-list {
  margin-right: -13%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 580px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
header {
  font-family: 'CircularStd', sans-serif;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  border-bottom: 1px solid #615e5e;
  margin: 0 auto;
  z-index: 999;
}
header nav {
  width: 100%;
}
header .header__content {
  max-width: 1418px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .header__content .header-content__name {
  text-decoration: none;
  position: fixed;
  margin-bottom: 10px;
  right: calc((100vw - 1445px + 2 * 15px) / 2);
}
header .header__content .header-content__name h1 {
  font-family: 'CircularStd', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}
@media screen and (max-width: 580px) {
  header {
    padding: 0px;
    width: 100%;
    position: fixed;
    height: 65px;
    background-color: white;
    top: 0;
  }
}
#logo-anchor {
  position: fixed;
  left: calc((100vw - 1445px + 2 * 15px) / 2);
  margin-bottom: 3px;
}
#logo-anchor svg {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 580px) {
  #logo-anchor {
    top: 9px;
  }
  #logo-anchor img {
    width: 45px;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.gallery .gallery__destak {
  margin-bottom: 2px;
}
.gallery .gallery__items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.gallery .gallery__items img {
  cursor: pointer;
  width: 148px;
  height: auto;
  margin-right: 2.3px;
  margin-bottom: 2px;
}
.gallery .gallery__items img:nth-of-type(6n) {
  margin-right: 0px;
}
@media screen and (max-width: 580px) {
  .gallery .gallery__items img {
    width: 94px;
    margin-right: 2px;
  }
  .gallery .gallery__items img:nth-of-type(4n) {
    margin-right: 0px;
  }
  .gallery .gallery__items img:nth-of-type(6n) {
    margin-right: 2px;
  }
}
footer {
  border-top: 1px solid #615e5e;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
footer .footer__content {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
footer .footer__content .footer__content__icons {
  display: flex;
  justify-content: center;
}
footer .footer__content .footer__content__icons a {
  margin-right: 29px;
}
footer .footer__content .footer__content__icons a svg {
  width: 20px;
  height: 20px;
}
.carousel {
  margin: 0 auto 60px auto;
  cursor: pointer;
}
.carousel .slick-list .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 407px;
}
.carousel .slick-dots li {
  margin: 0px;
}
.caroussel-popup {
  display: none;
  margin: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(152, 152, 152, 0.5);
}
.caroussel-popup .caroussel-popup__image {
  width: 866px;
  height: 650px;
  margin: 100px auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.caroussel-popup__close {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 10%;
  z-index: 1000;
  height: 22px;
  padding-top: 18px;
  top: 50px;
  width: 36px;
  padding-right: 5px;
  cursor: pointer;
}
.caroussel-popup__close span {
  display: block;
  margin-bottom: 3px;
  height: 4px;
  width: 30px;
  background-color: black;
}
.caroussel-popup__close span:first-of-type {
  transform: rotate(45deg);
}
.caroussel-popup__close span:last-of-type {
  margin-top: -6px;
  transform: rotate(-45deg);
}
@media screen and (max-width: 580px) {
  .caroussel-popup .caroussel-popup__image {
    width: 350px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 580px) {
  .carousel .slick-list .item {
    height: 256px;
  }
}
form.wpcf7-form {
  max-width: 450px;
  margin: 0 auto;
}
form.wpcf7-form p {
  margin-bottom: 0px;
}
form.wpcf7-form p:last-of-type {
  border: none;
}
form.wpcf7-form label {
  height: 32px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  border: none;
  background-color: #fffef7;
  color: black;
  padding: 5px 10px;
  font-size: 15px;
  font-family: 'CircularStd', sans-serif;
  box-sizing: border-box;
  font-weight: 300;
  border: 1px solid #615e5e;
  border-bottom: none;
  width: 100%;
  border-radius: 0;
}
form.wpcf7-form input::placeholder {
  color: black;
}
form.wpcf7-form textarea::placeholder {
  color: black;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  margin-top: -3px;
  padding: 5px 10px;
  background-color: transparent;
  font-size: 15px;
  width: 100%;
  font-weight: 300;
  text-align: left;
  border: 1px solid #615e5e;
}
form.wpcf7-form input:-webkit-autofill,
form.wpcf7-form input:-webkit-autofill:hover,
form.wpcf7-form input:-webkit-autofill:focus,
form.wpcf7-form input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  background-color: #fffef7;
}
form.wpcf7-form .submit-arrow {
  position: relative;
}
form.wpcf7-form .submit-arrow .arrow {
  position: absolute;
  top: 7px;
  right: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
form.wpcf7-form .submit-arrow .arrow span {
  background-color: black;
  height: 1px;
  width: 15px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-1 {
  transform: rotate(45deg);
  margin-bottom: 10px;
}
form.wpcf7-form .submit-arrow .arrow .arrow-2 {
  transform: rotate(-45deg);
}
.wpcf7 .ajax-loader {
  display: none;
}
@media screen and (max-width: 580px) {
  form.wpcf7-form {
    margin-right: -1%;
    margin-top: 28vh;
  }
  form.wpcf7-form p.title {
    padding-left: 1%;
  }
  form.wpcf7-form input,
  form.wpcf7-form textarea {
    padding-left: 1%;
    width: 98.3%;
  }
  form.wpcf7-form input[type="submit"] {
    padding-left: 1%;
  }
}
@-ms-viewport {
  width: device-width;
}
