@import './structure.less';

footer {
	border-top: 1px solid @gray;
	.footer__content {
		display: flex;
		justify-content: center;
		padding-right: 15px;
		padding-left: 15px;
	}
	
}
@media screen and (max-width: @screen-sm) {
	footer {
	}
}