@import './structure.less';


header {
	font-family: 'CircularStd', sans-serif;
	position: fixed;
	width: 100%;
	z-index: 2;
	top: 0;
	border-bottom: 1px solid @gray;
	margin: 0 auto;
	z-index: 999;
	// padding-bottom: 10px;
	nav {
		margin-left: 17%;
		// width: 100%;
	}

	.header__content {
		// max-width: @screen-lg;
		padding-top: 20px;
		padding-left:25px;
		padding-bottom: 8px;
		padding-right: 15px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		.header-content__name {
			text-decoration: none;
			// width: 234px;
			// position: fixed;
			// margin-bottom: 10px;
			// right: 15px;
			h1 {
				font-family: 'CircularStd', sans-serif;
				letter-spacing: 2px;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
}

#logo-anchor {
	// position: fixed;
	// left: 15px;
	// margin-bottom: 3px;
	svg {
		width: 36px;
		height: 29px;
	}
	@media screen and (max-width: @screen-sm)  {
		top: 9px;
		img {
			width: 45px;
		}
	}
}


@media screen and (min-width: @screen-lg) {
	header {
		nav {
			margin-left: 5%;
			.header__content {
				// max-width: @screen-xl;
				.header-content__name {
				}
			}
		}
	}
	#logo-anchor {
	}
}
@media screen and (max-width: 750px) {
	header {
		nav {
			display: none;
		}
		.header__content {
			// max-width: @screen-lg;
			padding-top: 10px;
			padding-left: 5px;
			padding-right: 5px;
			#logo-anchor {
				position: inherit;
			}

			.header-content__name {
				text-decoration: none;
				position: inherit;
				display: none;
				h1 {
					white-space: nowrap;
				}
			}
		}
	}
	header.menu-open {
		nav {
			display: block;
			position: absolute;
			right: -20px;
			left: 0px;
			top: 57px;
		}
	}
}