.home-special-img {
	position: relative;
	padding-bottom: 350px;
	img {
		max-height: 700px;
		position: absolute;
		right: 0;
		top: auto;
		bottom: 0px;
		// height: 55vh;
		width: auto;
	}
}
@media screen and (max-width: @screen-sm) {
	.home-special-img {
		padding-bottom: 130px;
		img {

		}
	}
}
.home-special-img--2 {
	position: relative;
		img {
			position: absolute;
			bottom: 0;
			right: 0;
			height: 85vh;
		}
}