.image-columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	> .image-columns__item {
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 30px;
		width: @width-column;
		> .image-columns__item__img {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 524px;
			border: 1px solid black;
			cursor: pointer;
		}
		> .image-columns__item__description {
			margin-top: 30px;
			// width: @width-column;
		}
	}
}
.image-columns--special-item {
	// margin-top: -50px;
	> .image-columns__item {
		// margin-right: 7px;
		> .image-columns__item__img {
			height: 210px;
			cursor: default;
		}
		> .text-box {
			> .text-box__item {
				cursor: pointer;
				position: relative;
				width: 100%;
			}
		}
	}
}
// .image-columns ~ .text-box {
// 	> .image-columns__item {
// 		margin-bottom: 0px;
// 	}
// }

@media screen and (min-width: @screen-lg) {
	.image-columns {
		> .image-columns__item {
			width: @width-column-lg;
			> .image-columns__item__img {
			}
			> .image-columns__item__description {
				// margin: 30px auto 0 auto;
				// width: @width-column-lg;
			}
		}
	}
}
@media screen and (max-width: @screen-md) {
	.image-columns {
		> .image-columns__item {
			width: @width-column-md;
		}

	}
}
@media screen and (max-width: @screen-sm) {
	.image-columns {
		flex-direction: column;
		> .image-columns__item {
			margin-right: 0px;
			margin-left: 0px;
			margin-bottom: 10px;
			width: 100%;
			> .image-columns__item__img {
				margin: 10px auto 20px auto;
				width: @width-column-sm;
				height: 350px;
			}
			> .image-columns__item__description {
				margin: 0 auto;
				width: @width-column-sm;
			}
		}
	}
	.image-columns.image-columns--special-item {
		> .image-columns__item {
			width: 100%;
		}
	}
}