.image-columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
	> .image-columns__item {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		> .image-columns__item__img {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: @width-column;
			height: 524px;
			border: 1px solid black;
			cursor: pointer;
		}
		> .image-columns__item__description {
			margin-top: 30px;
			width: @width-column;

		}
	}
}
.image-columns--special-item {
	> .image-columns__item {
		> .image-columns__item__img {
			cursor: default;
		}
	}
}