.one-image {
	display: flex;
	justify-content: center;
	.one-image__item {
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		div {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: @width-column + @width-column + 10px;
			height: 700px;
			border: 1px solid @gray;
		}
	}
}