.rich-text {
	font-family: 'CirculaStd', sans-serif;
	margin-right: 10px;
	h2 {
		font-size: 22px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	> span, p {
		line-height: 17px;
		font-size: 16px;
		margin-bottom: 10px;
	}
	b, strong {
		font-weight: 600;
	}
	a {
		color: black;
		text-decoration: underline;
	}
	ul {
		li {
			margin-bottom: 7px
		}
	}
	br {
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		height: auto;
	}
	.captcha_img {
		width: auto;
	}
}