@import './structure.less';


h1, h2, h3, h4, p, a, ul, li {
	font-family: 'CircularStd', sans-serif;
}
// p, a {
// 	font-family: 'Arial', sans-serif;
// }

h1 {
	font-size: 25px;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-size: 14px;
}


p {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 25px;
}
a {
	color: black;
	&:hover {
	}
}
strong {
	font-weight: bold;
}
ul {
	li {
		font-size: 14px;
	}
}

blockquote, q, {
	margin:0px 8% 30px 8%;
	font-style: italic;
	p:last-of-type {
		margin-bottom: 15px; 
	}
}

@media screen and (max-width: @screen-sm) {
	.rich-text {
		ul {
			li {
				margin-bottom: 30px;
			}
		}
	}

// 	h1 {
// 		font-size: 30px;
// 		line-height: 25px;
// 		min-height: auto;
// 	}
// 	h2 {
// 		font-size: 20px;
// 		line-height: 21px;
// 	}
// 	h3 {
// 		font-size: 16px;
// 		margin-bottom: 3px;
// 		line-height: 19px;
// 	}
// 	p {
// 		font-size: 14px;
// 		line-height: 16px;
// 	}
// 	strong {
// 	font-size: 20px;
// 	line-height: 21px;
// }
// 	figure, .wp-block-image {
// 		margin-bottom: 30px;
// 		margin-top: 30px;
// 		figcaption {
// 			font-size: 12px;
// 			a {
// 				font-size: 12px;
// 			}
// 		}
// 	}
}